body {
    background-color: #fffcfa;
}
.card {
    margin-top: 1rem;
    color: black;
}
nav {
    position: fixed;
}
.App {
    min-height: 100vh;
}
.navbar {
    background-color: red !important;
}
a{
    color: white !important;
    text-align: center;
}

.card-title {
    margin-bottom: 0 !important;
}